<div class="card" style="margin:30px">
<h1 style="margin-left:360px ">Editing User</h1>
<span style="margin-left:360px ">remember to change the Email and set a valid password(more than 6 chars) for a succesfull edit </span>
<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>