<h1 style="margin-left:360px ">Fill the form to create a user</h1>
<span style="margin-left:360px ">remember to Set a valid the Email and a valid password(more than 6 chars) for a succesfull creation </span>
 
<%= render 'sign_up', user: @user %>


