<h1 style="margin-left:360px ">New User</h1>
<span style="margin-left:360px ">remember to Set a valid the Email and a valid password(more than 6 chars) for a succesfull creation </span>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
